source [find interface/cmsis-dap.cfg]
transport select swd

source [find target/stm32g4x.cfg]

# Most CMSIS-DAP probes are happier at a conservative SWD clock.
adapter speed 100
reset_config none
cortex_m reset_config sysresetreq
